* {
    margin: 0;
    padding: 0;
}

.Home, html, body {
    height: 100%;
    width: 100%;
}

.Home, body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

#homeHeader {
    background-color: white;
    text-align: center;
    display: flex;
    overflow: scroll;
    justify-content: center;
    padding: 1rem;
}

#homeHeader h1 {
    text-align: center;
}

#homeHeader .Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

#homeHeader .Navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1rem;
}

#homeHeader .Navbar ul li {
    padding: 1rem;
    text-align: center;
}

#homeHeader .Navbar a {
    font-size: 18pt;
    text-decoration: none;
    color: purple;
    padding: 1rem;
}

#homeHeader .Navbar a:hover {
    color: black;
    background-color: violet;
    white-space: nowrap;
}

#homeHeader img {
    width: 130px;
}